h1 {font-size: 1.3em;}
h2 {
	font-size: 1em;
	font-weight: bold;
}
input, textarea {border: none; outline: none;}

body {
	font-family: sans-serif;
}

.content {
	padding: 20px;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

game-mash .mash-header {
	width: 200px;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	text-transform: uppercase;
}

game-mash .mash-header h1 span {
	font-size: 2em;
	font-weight: bold;
	color: #66c4ab;
}

game-mash .mash-logo-h2 {
	color: #e26f6f;
	font-weight: bold;
}

game-mash #mash-game-box {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
}

game-mash #mash-btn {
	margin: 20px auto;
	display: flex;
	justify-content: center;
}

game-mash .mash-game-box-wrapper {
	overflow: hidden;
	word-spacing: 0px;
	padding: 10px;
	background: #ffffff;
	text-align: center;
	color: #464646;
	border-radius: 10px;
	border: solid 1px #cbcbcb;
	min-height: 220px;
}

game-mash .mash-game-box-input {
	width: 100%;
	color: #464646;
	background: #ffffff;
	padding: 7px 10px;
	margin: 10px 0;
	border-radius: 4px;
	border: solid 2px #dedede;
}

game-mash .mash-game-box-input:focus {
	border: solid 2px #66c4ab;
}

game-mash .btn {
	padding: 10px;
	width: 33.3%;
	background: #66c4ab;
	border: none;
	color: #fff;
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: bold;
}

game-mash .btn:not(:disabled):hover {
	background: #307965;
}

game-mash .btn:disabled {
	opacity: 0.5;
}

game-mash #mash-title {
	padding-bottom: 20px;
}

game-mash #mash-message {
	padding: 20px;
	border-radius: 10px;
	color: #fff;
	font-weight: bold;
	min-height: 58px;
	margin: 20px 0;
}

game-mash #mash-message.ERROR {
    background: #e26f6f;
}

game-mash #mash-message.SUCCESS {
	background: #66c4ab;
}

game-mash #mash-message.NOTE {
	background: #222524;
}

::-webkit-input-placeholder {color:#919191;}
::-moz-placeholder          {color:#464646;}
:-moz-placeholder           {color:#464646;}
:-ms-input-placeholder      {color:#464646;}